@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

/* Side Nav */
/* entypo */
[class*="entypo-"]:before {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  text-align: center;
  font-family: 'entypo', sans-serif;
}

.side-panel {
  padding: 30px 0;
  position: absolute;
  left: 0px;
}
.side-panel ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.side-panel > ul > li:first-child {
  border-top-right-radius: 3px;
}
.side-panel > ul > li:first-child a {
  padding-top: 13px;
}
.side-panel > ul > li:last-child {
  border-bottom-right-radius: 3px;
}
.side-panel > ul > li:last-child a {
  padding-bottom: 13px;
}
.side-panel > ul ul {
  width: 170px;
  padding-left: 10px;
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
}
.side-panel > ul ul li:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-right-color: #efefef;
}
.side-panel > ul ul li:first-child:before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #efefef;
  border-right-color: inherit;
}
.side-panel > ul ul li:first-child:hover {
  border-right-color: #fff;
}
.side-panel > ul ul li:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.side-panel li {
  opacity: 0.8;
  position: relative;
  background: #efefef;
}
.side-panel li:hover {
  background: #fff;
}
.side-panel li:hover > ul {
  display: block;
}
.side-panel a {
  display: inline-block;
  padding: 8px 15px;
  cursor: pointer;
}
.b li [class*="entypo-"] {
  display: inline-block;
  position: relative;
  left: 105px;
  transform: translateX(0);
  transition: all 0.3s ease-in-out;
  transition-delay: 0.1s;
}
.b .menu-item {
  display: inline-block;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.b > ul {
  position: relative;
  left: -110px;
  transform: translate(0) translateZ(0);
  width: 170px;
  transition: transform 0.3s 0.1s ease-in-out;
}
.b > ul:hover {
  transform: translateX(110px);
  transition: all 0.3s ease-in-out;
}
.b > ul:hover li [class*="entypo-"] {
  transform: translateX(-110px);
  transition-delay: 0;
}
.b > ul:hover .menu-item {
  opacity: 1;
  transition: opacity 0.3s 0.2s ease-in-out;
}
.b > ul ul {
  display: block;
  opacity: 0;
  transform: translate(-100%);
  transition: all 0.3s ease-in-out;
  z-index: -1;
}
.b li:hover ul {
  opacity: 1;
  transform: translate(0);
}

/* Modal */
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 20px;
}
#modal {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  height: 100%;
  width: 100%;
}
.modalconent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background: #fff; */
  width: 80%;
  padding: 20px;
}

/* Sound Pad */
html, body {
  /* background: linear-gradient(to left, #fd746c, #ff9068); */
  background: url("../DJ\ .jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: "Oswald", sans-serif;
}
h2 {
  position: absolute;
  margin-left: 380px;
  top: 40px;
  color: rgb(7, 7, 7);
  letter-spacing: 2px;
}
.edit {
  position: absolute;
  margin-left: 380px;
  top: 100px;
  color: rgb(252, 250, 250);
  cursor: pointer;
}
.save, .playPause, .trash {
  cursor: pointer;
}
h1 {
  color: white;
  font-size: 5vw;
  letter-spacing: 6px;
}
.pad {
  width: 350px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.box {
  width: 100px;
  height: 100px;
  margin: 10px 0px 10px 40px;
  box-shadow: 0 8px 6px -6px black;
  background-color: #444;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.4);
  user-select: none;
}
.idk {
  width: 100%;
  text-align: center;
  font-size: 12px;
}
.close {
  position: absolute;
  left: 825px;
  z-index: 1000;
  margin-top: 4px;
}
.box:hover {
  background-color: #5e5e5e;
  cursor: pointer;
}
.box:active {
  transform: scale(1.1);
  transition: all 0.2s;
}
.active {
  background-color: #2b2b2b;
  transform: scale(1.1);
  transition: all 0.2s;
}
.green-pad {
  border: 2px solid #2ecc71;
  /* border-color: purple; */
}
.red-pad {
  border: 2px solid #e5446d;
}
.blue-pad {
  border: 2px solid #1abc9c;
}

/* Record Button */
#recButton {
	width: 25px;
	height: 25px;
	font-size: 0;
	background-color: red;
	border: 0;
	border-radius: 50%;
	margin: 12px;
  outline: none;
}

/* .notRec{
	background-color: darkred;
} */

.Rec{
	animation-name: pulse;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes pulse{
	0%{
		box-shadow: 0px 0px 5px 0px rgba(173,0,0,.3);
	}
	65%{
		box-shadow: 0px 0px 5px 13px rgba(173,0,0,.3);
	}
	90%{
		box-shadow: 0px 0px 5px 13px rgba(173,0,0,0);
	}
}

.Random{
  animation-name:  random;
  animation-duration: 0.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: scale(1.1);
  transition: all 0.2s;
}
@keyframes random {
  15% { background-color: rgb(119, 0, 255); } 
  30% { background-color: rgb(4, 0, 255); } 
  45% { background-color: rgb(7, 231, 56); } 
  60% { background-color: rgb(255, 0, 13); }
  75% { background-color: rgb(11, 243, 212); }  
}

/* Testing */
@font-face {
  font-family: 'DSEG14-Classic';
  src: url('https://cdn.jsdelivr.net/npm/dseg@0.43.0/fonts/DSEG14-Classic/DSEG14Classic-Regular.woff2') format('woff2'), url('https://cdn.jsdelivr.net/npm/dseg@0.43.0/fonts/DSEG14-Classic/DSEG14Classic-Regular.woff') format('woff'), url('https://cdn.jsdelivr.net/npm/dseg@0.43.0/fonts/DSEG14-Classic/DSEG14Classic-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
html {
  height: 100%;
}
body {
  height: 100%;
  background-color: #555;
}
.round-button {
  cursor: pointer;
  position: relative;
  transition-duration: 0.5s;
  width: 30px;
  height: 30px;
  padding: 5px;
  box-sizing: border-box;
  box-shadow: 1px 1px 1px 2px #161616;
  border-radius: 50%;
  background-image: radial-gradient(at 25% bottom, #282828, #161616 50%, grey);
}
.round-button:after {
  font-size: 12px;
  color: #bfbfbf;
  position: absolute;
  display: block;
  top: calc(100% + 5px);
  left: 50%;
  transform: translate(-50%, 0);
}
.round-button svg path {
  fill: grey;
  transition-duration: 0.5s;
}
.round-button--on, .round-button:active {
  box-shadow: 1px 1px 1px 1px #161616;
}
.round-button--on svg path, .round-button:active svg path {
  fill: #c4ff82;
}
.drum-machine-body {
  font-family: 'Russo One', sans-serif;
  background-color: rgb(57, 57, 57);
  border-radius: 10px;
  padding: 1em;
  display: inline-block;
  position: relative;
  left: 50%;
  margin-top: 10vh;
  transform: translate(-50%, 0);
}
.drum-machine-body__top {
  color: white;
  font-size: 1.5rem;
  padding: 1em;
  background-color: rgb(57, 57, 57);
}
.drum-machine-body__bottom {
  display: grid;
  grid-gap: 3px;
  grid-template-columns: 1fr 2fr;
}
.drum-machine-body__left-pad {
  padding: 0 1em;
  display: flex;
  flex-direction: column;
  background-color:rgb(57, 57, 57);
  padding: 1em;
  box-shadow: inset 0 0 3px #111;
  border-radius: 10px;
}
.volume-display {
  font-family: 'DSEG14-Classic';
  padding: 0.5em;
  background-color: #161616;
  color: transparent;
  transition-duration: 1s;
}
.volume-display--on {
  color: #fb7c00;
}
.drum-display {
  background-color: #bcbcbc;
  margin-top: 1em;
  padding: 0 0.5em;
  height: 2em;
  text-align: center;
  line-height: 2em;
  box-shadow: inset 0 0 2px 1px #161616;
  color: #444;
  font-family: 'DSEG14-Classic';
  transition-duration: 0.5s;
}
.drum-display--on {
  background-color: #77abff;
}
.button-panel {
  display: flex;
  padding: 1em 0;
}
.button-panel div[role="button"] {
  margin-right: 1em;
}
.button-panel div[role="button"]:last-child {
  margin-right: 0;
}
.power-button {
  width: 30px;
  height: 30px;
}
.power-button.round-button--on {
  background: radial-gradient(rgba(196, 255, 130, 0.5), transparent 70%);
}

.drum-pad-container {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-gap: 10px;
  padding: 1em;
  /* pointer-events: none; */
  border-radius: 10px;
  background-color: rgb(57, 57, 57);
  box-shadow: inset 0 0 3px #111;
  /* margin-left: 50px; */
}
.drum-pad-container--on {
  pointer-events: all;
}
.drum-pad {
  position: relative;
  user-select: none;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  color: rgb(57, 57, 57);
  background-color: #282828;
  border-radius: 50%;
  padding-top: 100%;
  background: radial-gradient(rgb(57, 57, 57), #161616 60%, grey);
  box-shadow: 3px 3px 1px 3px #161616;
}
.drum-pad:focus {
  outline: none;
}
.drum-pad--active, .drum-pad:active {
  box-shadow: 1px 1px 1px 3px #161616, inset 0 0 10px 1px #005ef7;
  border-color: #005ef7;
  color: #a0c4ff;
  text-shadow: 0 0 5px #a0c4ff;
  outline: none;
}
.drum-pad span {
  position: absolute;
  text-shadow: 0 0 2px black;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.project-info {
  font-size: 11px;
  margin-top: auto;
  border-radius: 4px;
  color: #555;
}
.project-info a {
  text-decoration: none;
  color: #555;
}
.project-info a:hover {
  color: orange;
}
